{% extends 'portfolio/base.html' %}

{% block title %}ABOUT{% endblock %}
{% block content %}
<div class="row row-cols-12">
    <div class="col">
     {% block header %}{% endblock header %}
    </div> <!-- /col -->
</div> <!-- /row -->
<div class="row row-cols-12">
    <div class="col">
     {% block about %}{% endblock about %}
    </div> <!-- /col -->
</div> <!-- /row -->
<div class="row row-cols-12">
    <div class="col">
     {% block portfolio %}{% endblock portfolio %}
    </div> <!-- /col -->
</div> <!-- /row -->


{% endblock content %}