{% extends 'portfolio/base.html' %}


{% block title %}Service{% endblock title %}

{% block content %}
<div class="row row-cols-12">
    <div class="col">
     {% block header %}{% endblock header %}
    </div> <!-- /col -->
</div> <!-- /row -->
<div class="row row-cols-12">
    <div class="col">
     {% block service %}{% endblock service %}
    </div> <!-- /col -->
</div> <!-- /row -->
<div class="row row-cols-12">
    <div class="col">
     {% block portfolio %}{% endblock portfolio %}
    </div> <!-- /col -->
</div> <!-- /row -->
{% endblock content %}