{% extends 'portfolio/base_contact.html' %}
{% load widget_tweaks %}

{% block form %}
<!-- form
================================================================= -->
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
        <!--{% render_field form.name class='form-control' %} -->
        {% for field in form %}
            <div class="mb-3">
                <!--<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> -->
                <!-- {{ field|add_class:"form-control" }} -->
                {% render_field field class="form-control" placeholder=field.name %}
                <div class="valid-feedback">Ok!</div>
                <div class="invalid-feedback">Please choose a valid {{ field.name }}</div>
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form> <!-- /form -->
<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock form %}
