{% extends 'portfolio/base_portfolio.html' %}
{% load static %}

{% block header %}
<h1 class="text-uppercase">Portfolio</h1>
<h3 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
{% endblock header %}

{% block portfolio %}
<!-- Portfolio Grid
================================================== -->
{% for project in project_list %}
<div class="col-sm-6 col-lg-4 mb-4">
<!-- Portfolio item 1 -->
    {% for imageProject in project.imageproject_set.all %}
            <h5 class="text-muted">{{project.name}}</h5>
    <figure class="figure">
        <a data-bs-toggle="modal" href="#portfolioModal{{project.id}}">
            <img class="figure-img img-fluid" src="{{ imageProject.image.url }}" alt="..." />
        </a>
        <figcaption class="figure=caption">
            <h5 class="text-secondary">{{ project.name }}</h5>
            <div class="text-muted">{{project.description }}</div>
        </figcaption>
    </figure>
    {% endfor %}

<!-- Portfolio Modals
================================================== -->
    <div class="modal fade"  id="portfolioModal{{project.id}}" tabindex="-1"  aria-labelledby="portfolioModal" aria-hidden="true">
        <!-- Portfolio item modal popup-->
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">{{project.name}}</h2>
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <p>{{project.description }}</p>
                                <ul class="list-inline">
                                    <li><strong>Client:</strong>Explore</li>
                                    <li><strong>Category:</strong>Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal">
                                    <i class="fas fa-times me-1"></i>Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /Portfolio item modal popup-->
<!-- /Portfolio Modals -->

</div><!-- /portfolio item-->
{% endfor %}
<!-- /Portfolio Grid-->


{% endblock portfolio %}

