{% extends 'portfolio/base_services.html' %}

{% block header %}
<h1 class="text-uppercase">Services</h1>
<h3 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
{% endblock header %}

{% block service %}
<div class="col-sm-4">
    <span class="fa-stack fa-2x" style="color: #1E73BE">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
    </span>
    <h4>Criação de Sites</h4>
    <p class="text-muted">Se você precisa de um site de qualidade, fácil de atualizar, e que caiba no seu orçamento, posso te ajudar a marcar a presença de sua empresa na internet e gerar novos negócios.</p>
</div> <!-- /col -->
<div class="col-sm-4">
    <span class="fa-stack fa-2x" style="color: #1E73BE">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
    </span>
    <h4>Criação de e-commerce</h4>
    <p class="text-muted">Crio sua loja virtual, super fácil de usar, utilizando Woocommerce em WordPress a ferramenta que mais se populariza atualmente como ferramenta de vendas em e-commerce.</p>
</div> <!-- /col -->
<div class="col-sm-4">
    <span class="fa-stack fa-2x" style="color: #1E73BE">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-th-list fa-stack-1x fa-inverse"></i>
    </span>
    <h4>Criação de Blog</h4>
    <p class="text-muted">Para você que deseja criar um blog profissional, que ajude a melhorar seu posicionamento nos mecanismos de busca com custo acessível e qualidade.</p>
</div> <!-- /col -->
{% endblock service %}
